<%- include('../includes/default/head') %>

<%- include('../includes/default/header') %>

<!-- NAVIGATION -->
<nav id="navigation">
<!-- container -->
<div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
        <!-- NAV -->
        <%- include('../includes/default/navigations') %>
        <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
</div>
<!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h3 class="blankbreadcrumb-header">Error 404</h3>
            <p class="blankbreadcrumb-tree">
                Unfortunately,we couldn't get the resource you're looking for!
            </p>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="newsletter">
                <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                <form>
                    <input class="input" type="email" placeholder="Enter Your Email">
                    <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                </form>
                <ul class="newsletter-follow">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /NEWSLETTER -->

<%- include('../includes/default/footer') %>