body{
    background-color: #1E1F29;
    font-family: sans-serif;
    color: rgb(29, 27, 27);
    padding: 1.5rem 1.5rem 5rem 1.5rem; 
    margin-bottom: 5rem;
}

.header-logo{
    text-align: center;
}

form{
    width: 35rem;
    background-color: white;
    margin: 0 auto ;
    padding: 1.5rem;
    border-radius: 8px;
    box-sizing: border-box;
    /* box-shadow:1px 1px 6px rgb(32, 31, 31); */
}

input{
    width: 100%;
    margin-top: 0.05rem;
    padding: 0.35rem 0.25rem;
    border-radius: 4px;
    border:1px solid rgb(167, 167, 180);
    font: inherit;
    box-sizing: border-box;
}

input:focus{
    background-color: rgb(241, 241, 255);
    border:1px solid rgb(167, 167, 180);
}

input::placeholder{
    font-size: 0.8rem;
}


label{
    display: block;
    margin-top: 1.35rem;
    font-size: 0.95rem;
    font-weight: bold;
    color:  #333;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.replies{
    display: flex;
}

.replies input{
    width: auto;
}

#submit{
    padding: 0.25rem 0.85rem;
    background-color: #2f3362;
    color: white;
    border-radius: 6px;
    font: inherit;
    margin-bottom: 1rem;
}

#submit:hover{
    background-color: #2b2d43; 
    cursor: pointer;
}

#buttons{
    margin: 1.5rem auto 3rem auto;
    text-align: center;
}

.login-link{
    color: #333;
    font-size: 1rem;
}

.login-link a{
    text-decoration: none;
    color: #0b1ef2;
}

.login-link a:hover{
    color: #0116ff;
    text-decoration: none;
}

.terms-conditions{
    width: 40rem;
    background-color: white;
    margin: 0 auto ;
    padding: 1.5rem;
    border-radius: 8px;
    box-sizing: border-box;
}

.terms{
    font-size: 1.45rem;
    margin: 0 0 0.5rem 0;
}

.terms-signin{
    margin-top: 3rem;
}

.terms-signin p a:hover{
    text-decoration: none;
    color: #0116ff;
}

.terms-signin p{
    margin: 0 0 0.25rem 0;
    color: #3d3b3b;
    font-size: 1.25rem;
}

.message {
    background-color: #ff3e54;
    text-align: center;
    border-color: transparent;
    padding: 1.35rem 0.75rem ;
    border-radius: 6px;
}